@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
 
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(191, 217, 233);
    
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(15, 184, 196);
    background-color: rgb(217, 223, 224);
    color: rgb(0, 102, 255);
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}

.numeros{
    margin:50px;
    padding:10px;
}

h1{
    color: rgb(13, 52, 110);
    padding:15px;
   font-size: 40px;
    
}
p{color: rgb(3, 9, 29);
    padding:15px;
   font-size: 20px;
   font-weight: 500;

}
span{
    color:darkblue;
    font-weight: 900;
}
